<div mat-dialog-title class="dark:bg-gray-800 dark:text-white">
  <h1 class="dark:bg-gray-800 dark:text-white">{{ titulo }}</h1>
  <span
    class="dark:bg-gray-800 dark:text-gray-300 text-gray-600 font-light text-sm"
    >{{ subtitulo }}</span
  >
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="dark:bg-gray-800 dark:text-white">
  <div class="max-w-lg">
    <app-login *ngIf="login" (form)="formLogin = $event"></app-login>
    <app-register
      *ngIf="!login"
      (formObligatorioEmit)="formObligatorio = $event"
      (formOpcionalEmit)="formOpcional = $event"
    ></app-register>
  </div>
</div>
<div mat-dialog-actions class="dark:bg-gray-700 bg-gray-100 dark:text-white">
  <div class="w-full flex justify-end pr-4">
    <app-boton-generico [botones]="botones"></app-boton-generico>
  </div>
</div>
