<div class="flex gap-4 my-20 w-full">
  <div class="flex flex-col gap-2 w-full" *ngIf="producto">
    <div class="flex items-start gap-10 flex-wrap w-full">
      <div class="flex flex-col gap-1">
        <div
          class="flex w-96 h-96 bg-icem-500 dark:bg-icem-300 relative rounded relative"
        >
          <img
            [src]="producto.imagen"
            [alt]="producto.titulo"
            class="absolute w-full h-full object-cover -top-6 -right-6 shadow-md rounded bg-white dark:bg-gray-700 border-none"
          />
          <div
            *ngIf="producto.disponibilidad === 0"
            class="absolute -top-6 -right-6 text-white p-3 bg-red-700"
          >
            Agotado
          </div>
          <span class="text-white absolute bottom-1 right-1 text-sm">
            disponibles: {{ producto.disponibilidad }}
          </span>
          <span class="text-white text-md -rotate-90 pl-8 font-bold w-96">
            Categoria: {{ categoria }}
          </span>
        </div>
        <div class="flex gap-1">
          <ng-container *ngIf="producto.imagenes">
            <img
              (click)="cambiarVista(i)"
              [src]="item"
              alt=""
              *ngFor="let item of producto.imagenes; let i = index"
              class="w-16 h-16 object-cover rounded cursor-pointer hover:brightness-50 duration-300"
            />
          </ng-container>
        </div>

        <div class="flex items-start gap-2">
          <div class="flex flex-col flex-1">
            <div
              *ngFor="let estrella of estrellas"
              class="flex items-center gap-2"
            >
              <small class="font-bold">{{ estrella.numero }}</small>
              <div class="h-3 rounded w-full bg-gray-200 relative">
                <div
                  class="absolute h-full bg-icem-500 dark:bg-icem-300 duration-300 rounded"
                  [style.width]="estrella.promedio + '%'"
                ></div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 flex-col gap-4 justify-center items-center">
            <h3 class="text-md font-bold text-icem-500 dark:text-icem-300">
              Calificación promedio
            </h3>
            <h1 class="text-icem-500 dark:text-icem-300 text-3xl font-bold">
              {{ promedio }}
            </h1>
          </div>
        </div>
        <h3 class="text-sm w-96">
          Calificación promedio acerca de la calidad de este producto,
          {{ allEstrellas }} personas han opinado acerca de el
        </h3>
      </div>
      <div class="flex flex-col flex-1">
        <h1 class="text-4xl text-icem-500 dark:text-icem-300">
          {{ producto!.titulo }}
        </h1>
        <p class="text-gray-700 dark:text-gray-300">
          {{ producto!.fecha | date : "dd/MM/yyyy" }}
        </p>
        <p class="text-gray-700 dark:text-gray-300 font-bold">
          ${{ producto!.precio | number : "1.2-2" }}
        </p>
        <p class="text-gray-700 dark:text-gray-300">
          {{ producto!.descripcion }}
        </p>
        <form class="flex items-center gap-1 mt-4" [formGroup]="form">
          <button
            (click)="agregarQuitar(false)"
            [disabled]="producto.disponibilidad === 0"
            class="border-none w-8 rounded p-1 bg-icem-500 dark:bg-icem-300 hover:bg-icem-400 dark:hover:bg-icem-200 duration-300 text-white disabled:cursor-not-allowed disabled:opacity-50"
          >
            <i class="bi bi-dash"></i>
          </button>
          <input
            [formControlName]="'cantidad'"
            type="text"
            [disabled]="producto.disponibilidad === 0"
            class="outline-none border border-1 border-icem-400 p-1 rounded w-8 dark:bg-gray-700 disabled:cursor-not-allowed disabled:opacity-50"
          />
          <button
            (click)="agregarQuitar(true)"
            [disabled]="producto.disponibilidad === 0"
            class="border-none w-8 rounded p-1 bg-icem-500 dark:bg-icem-300 hover:bg-icem-400 dark:hover:bg-icem-200 duration-300 text-white disabled:cursor-not-allowed disabled:opacity-50"
          >
            <i class="bi bi-plus"></i>
          </button>
          <button
            *ngIf="(usuario$ | async).length"
            [disabled]="producto.disponibilidad === 0"
            (click)="agregarCarrito()"
            class="border-none rounded p-1 px-4 bg-icem-500 dark:bg-icem-300 hover:bg-icem-400 dark:hover:bg-icem-200 duration-300 text-white disabled:cursor-not-allowed disabled:opacity-50"
          >
            <i class="bi bi-cart"></i>
          </button>
        </form>
        <app-collapse [collapseItem]="collapseEspecificaciones"></app-collapse>
        <app-collapse [collapseItem]="collapseUsos"></app-collapse>
        <app-collapse [collapseItem]="collapseGarantias"></app-collapse>
      </div>
    </div>
  </div>
</div>
