<div class="flex items-start px-2 gap-4 flex-wrap" [class]="direccion??'justify-center'">
  <ng-container *ngFor="let item of card">
    <div
      class="  dark:border dark:border-gray-700 flex flex-col w-10/12 lg:w-2/12 md:w-3/12 shadow-md bg-white dark:bg-gray-800 rounded-lg max-w-sm relative"
      style="min-width: 300px"
      [class]="item.direccion"
    >
      <div class="overflow-hidden h-52 rounded-t-lg" *ngIf="item.imagen">
        <img
          [src]="item.imagen"
          alt=""
          class="object-cover hover:scale-105 duration-300 cursor-pointer"
        />
      </div>
      <div class="flex flex-col px-3 py-4">
        <i [class]="item.icono"></i>
        <h3 class="text-xl font-bold mt-3" [class]="item.classTitulo">
          {{ item.titulo }}
        </h3>
        <p class="text-xs">{{ item.fecha | date : "dd/MM/yyyy" }}</p>
        <div
          *ngIf="item.precio"
          class="h-1 my-1 bg-gradient-to-r dark:from-gray-700 from-black to-icem-500 rounded w-8/12"
        ></div>
        <p class="text-xs font-bold" *ngIf="item.precio">
          ${{ item.precio | number : "1.2-2" }}
        </p>
        <p class="text-md" [class]="item.classDescripcion">
          {{ item.descripcion }}
        </p>
        <ng-container *ngIf="item.botones">
          <app-boton-generico [botones]="item.botones"></app-boton-generico>
        </ng-container>
      </div>
      <div
        *ngIf="item.alerta"
        class="absolute px-4 py-2 shadow-red-500 shadow-md rounded top-5 -left-2 bg-red-700 text-white"
      >
        {{ item.alerta }}
      </div>
    </div>
  </ng-container>
</div>
