.mat-mdc-row.select:hover {
    transform: scale(1.02);
    background-color: rgba($color: #222, $alpha: 0.2);
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .row-selected{
    background-color: rgba($color: #222, $alpha: 0.2);
  }