<div class="lg:p-4 md:p-4 p-0 z-0">
  <mat-drawer-container
    class="absolute w-full h-full lg:rounded-lg md:rounded-lg lg:border md:border lg:border-1 md:border-1 border-gray-300 dark:border-gray-800"
    style="height: fit-content"
    autosize
  >
    <mat-drawer #drawer position="end" [mode]="drawerMode" class="relative">
      <div class="flex flex-col w-96">
        <div class="bg-gray-100 dark:bg-gray-700 w-full" *ngIf="detalle.imagen">
          <img
            class="object-cover h-48 w-full"
            src="http://localhost:9707/pictures/1037?tipo=productos"
            alt="..."
          />
        </div>
        <div class="flex flex-col p-4 gap-1 relative mb-20">
          <div class="flex gap-1" *ngIf="detalle.imagenes">
            <div class="w-12 h-12 rounded-md border border-1 overflow-hidden">
              <img
                class="object-cover h-12 w-full"
                src="assets/clip-actions/searching.png"
                alt="..."
              />
            </div>
            <div class="w-12 h-12 rounded-md border border-1 overflow-hidden">
              <img
                class="object-cover h-12 w-full"
                src="assets/clip-actions/searching.png"
                alt="..."
              />
            </div>
            <div class="w-12 h-12 rounded-md border border-1 overflow-hidden">
              <img
                class="object-cover h-12 w-full"
                src="assets/clip-actions/searching.png"
                alt="..."
              />
            </div>
          </div>
          <h1 class="text-lg mt-4" *ngIf="detalle.titulo">
            {{ detalle.titulo }}
          </h1>
          <span class="text-gray-400" *ngIf="detalle.subtitulo">{{
            detalle.subtitulo
          }}</span>
          <p class="text-gray-200" *ngIf="detalle.descripcion">
            {{ detalle.descripcion }}
          </p>
          <ng-container *ngIf="detalle.textos">
            <p
              class="dark:text-gray-200 text-gray-700 text-xs font-light"
              *ngFor="let texto of detalle.textos"
            >
              <span>{{ texto.nombre }}: </span>
              {{ texto.valor }}
            </p>
          </ng-container>
          <div class="my-4 w-full">
            <mat-divider></mat-divider>
          </div>
          <ng-container *ngIf="formulario">
            <app-form-generico [formulario]="formulario"></app-form-generico>
          </ng-container>
        </div>
        <div
          class="absolute bottom-0 h-16 px-4 py-2 w-full dark:bg-gray-700 bg-gray-100 flex justify-end"
        >
          <app-boton-generico
            [botones]="detalle.botones!"
            [valor]="detalle.data"
          ></app-boton-generico>
        </div>
      </div>
      <div class="absolute top-2 right-6">
        <app-boton-generico [botones]="botonCerrar"></app-boton-generico>
      </div>
    </mat-drawer>

    <div class="h-full w-full relative">
      <ng-content select=".contenido"></ng-content>
    </div>
  </mat-drawer-container>
</div>
