<section *ngIf="noticia">
  <h1
    class="lg:ml-48 md:ml-20 ml-8 my-4 text-2xl text-icem-500 dark:text-white font-bold opacity-50"
  >
    Noticia más reciente
  </h1>
  <div
    class="flex justify-between py-8 h-96 bg-slate-200 dark:bg-slate-800 items-center lg:px-48 md:px-20 px-8 gap-8"
  >
    <img
      [src]="noticia?.imagen"
      alt=""
      class="lg:flex md:flex hidden w-96 h-80 rounded-lg object-cover"
    />

    <div class="flex flex-col w-8/12 gap-4">
      <h1
        class="text-2xl font-bold text-icem-500 dark:text-icem-300 line-clamp-2"
      >
        {{ noticia?.titulo }}
      </h1>
      <h3 class="text-2xl text-gray-700 dark:text-gray-300 line-clamp-3">
        {{ noticia?.descripcion }}
      </h3>
      <app-boton-generico [botones]="botones"></app-boton-generico>
    </div>
  </div>
</section>
