<div class="flex gap-2 flex-wrap">
  <ng-container *ngFor="let item of botones">
    <button
      matRipple
      [matTooltip]="item.tooltip ?? ''"
      *ngIf="!item.ocultar"
      [disabled]="
        item.disabled
          ? item.disabled(valor)
          : false 
      "
      (click)="emit(item.funcion)"
      class="flex items-center justify-center gap-2 hover:scale-105"
      [class]="
        item.class
          ? item.class
          : (!['Cerrar', 'Cancelar'].includes(item.label ?? '')
              ? 'bg-icem-500 dark:bg-icem-300 hover:bg-icem-400 dark:hover:bg-icem-200'
              : 'bg-gray-500 dark:bg-gray-600') +
            'border-none px-4 py-2 my-1 duration-300 text-white rounded-lg '
      "
    >
      <i
        *ngIf="item.cargando ? !item.cargando() : true"
        [class]="item.icono"
      ></i>
      <mat-spinner
        [diameter]="20"
        class="button"
        *ngIf="item.cargando ? item.cargando() : false"
      ></mat-spinner>
      <span class="truncate" *ngIf="item.label">{{ item.label }}</span>
    </button>
  </ng-container>
</div>
