<div
  class="fixed top-0 flex justify-between py-4 px-4 bg-icem-900 dark:bg-icem-500 items-center w-full"
>
  <span class="text-xl font-bold text-white">ICEM</span>
  <div class="lg:flex items-center gap-4 hidden">
    <app-menu-generico [menu]="menu" *ngIf="!buscar"></app-menu-generico>
    <app-menu-generico [menu]="menu2"></app-menu-generico>
  </div>

  <div class="lg:hidden items-center gap-4 flex">
    <app-menu-generico [menu]="menusm"></app-menu-generico>
  </div>

  <form [formGroup]="form"
    class="flex absolute duration-300 lg:left-56 lg:right-56 md:left-20 md:right-20 left-16 right-16 top-2 bottom-2 rounded bg-white -left-96 mx-auto"
    *ngIf="buscar"
    [@scaleAnimation]="'enter'"
  >
    <input
      type="text"
      class="bg-transparent w-full h-full border-none outline-none px-12"
      placeholder="Buscar por ..."
    />
    <button
      class="absolute top-1 bottom-1 right-1 text-icem-500 p-3 flex justify-center items-center rounded"
    >
      <i class="bi bi-search"></i>
    </button>
    <button
      class="absolute top-1 bottom-1 left-1 text-icem-500 p-3 flex justify-center items-center rounded"
      (click)="buscar = false"
    >
      <i class="bi bi-x"></i>
    </button>
  </form>
</div>
