<div class="-mt-16">
  <div class="flex flex-col gap-2 items-start">
    <div class="w-full h-48 bg-icem-500 relative">
      <div class="flex items-center gap-2 absolute top-2 left-2">
        <app-boton-generico [botones]="botonAtras"></app-boton-generico>
        <h1 class="text-xl">Salir del perfil</h1>
      </div>
      <div
        class="absolute rounded-full w-32 h-32 bg-white shadow-xl -bottom-16 p-2 lg:left-40 md:left-12 left-8"
      >
        <img src="assets/logos/icon-icem-blue.png" alt="" class="w-full" />
      </div>
    </div>
    <div class="flex flex-col mt-20 lg:px-40 md:px-12 px-8 mb-20 w-full">
      <div class="flex flex-wrap justify-between gap-4">
        <div class="flex flex-col">
          <h1 class="text-6xl dark:text-gray-300 text-icem-900 font-semibold">
            {{ usuario.usuario | titlecase }}
          </h1>
          <h1 class="text-4xl dark:text-gray-300 text-gray-700">
            {{ usuario.nombre }}
          </h1>
          <p class="dark:text-gray-300 text-gray-700 text-sm">
            usuario hace {{ tiempoUsuario }}
          </p>
          <app-boton-generico [botones]="botonesPerfil"></app-boton-generico>
        </div>

        <div class="flex flex-col text-start gap-2">
          <h1 class="text-sm dark:text-gray-300 text-gray-700">
            <i class="bi bi-envelope-fill"></i>
            {{ usuario.correo }}
          </h1>
          <h1 class="text-sm dark:text-gray-300 text-gray-700">
            <i class="bi bi-telephone-fill"></i>
            {{ usuario.telefono }}
          </h1>
          <h1 class="text-sm dark:text-gray-300 text-gray-700">
            <i class="bi bi-calendar-fill"></i>
            {{ usuario.fecha | date : "dd-MM-yyyy HH:mm a" }}
          </h1>
          <h1 class="text-sm dark:text-gray-300 text-gray-700">
            <i class="bi bi-flag-fill"></i>
            {{ usuario.pais }}
          </h1>
          <h1 class="text-sm dark:text-gray-300 text-gray-700">
            <i class="bi bi-geo-alt-fill"></i>
            {{ usuario.direccion }}
          </h1>
          <!-- <h1 class="text-sm dark:text-gray-300 text-gray-700">
            <i class="bi bi-person-fill"></i>
            {{ usuario.rol }}
          </h1> -->
        </div>
      </div>

      <div class="w-full my-12">
        <mat-divider></mat-divider>
      </div>

      <div
        class="flex flex-col mt-2 border border-1 border-gray-300 dark:border-gray-800 rounded-md p-6"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <i class="bi bi-card-checklist text-3xl text-icem-200"></i>
            <div class="flex flex-col">
              <h1 class="text-xl border-b-2 border-icem-200 w-fit">
                Mis pedidos
              </h1>
              <p class="text-xs dark:text-gray-400 text-gray-600">
                Pedidos realizados hasta la fecha.
              </p>
            </div>
          </div>
          <app-boton-generico [botones]="botonRefrescar"></app-boton-generico>
        </div>
        <app-table-generico
          *ngIf="tablePedido"
          [table]="tablePedido"
        ></app-table-generico>
      </div>

      <div
        class="flex flex-col mt-12 border border-1 border-gray-300 dark:border-gray-800 rounded-md p-6"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <i class="bi bi-cart3 text-3xl text-icem-200"></i>
            <div class="flex flex-col">
              <h1
                class="text-xl border-b-2 border-icem-200 w-fit dark:text-gray-300 text-gray-700"
              >
                Mi carrito
              </h1>
              <p
                class="text-xs dark:text-gray-400 text-gray-600 flex items-center gap-1"
              >
                Tiempo restante en el carrito
                <app-count-timer
                  *ngIf="tiempo"
                  [fechaEntrada]="tiempo"
                  (finalizo)="obtenerCarrito()"
                ></app-count-timer>
              </p>
            </div>
          </div>
          <app-boton-generico [botones]="botonReservar"></app-boton-generico>
        </div>
        <app-table-generico
          *ngIf="tableCarrito"
          [table]="tableCarrito"
        ></app-table-generico>
      </div>
    </div>
  </div>
</div>
