<div
  class="absolute top-0 bottom-0 left-0 right-0 bg-gray-700 dark:bg-white rounded flex gap-2 px-4 items-center overflow-hidden"
  style="min-height: 80px"
>
  <i
    [class]="data.icono"
    class="w-5 h-5 flex justify-center items-center text-white"
  ></i>
  <div class="flex flex-col">
    <span>{{ data.titulo }}</span>
    <!-- <span class="text-xs">{{ data.subtitulo }}</span> -->
    <p class="text-xs">{{ data.texto }}</p>
  </div>
  <app-boton-generico class="absolute top-1 right-1" [botones]="boton"></app-boton-generico>
</div>
