<div class="w-full lg:px-48 md:px-20 px-8">
  <div class="timeline">
    <div class="timeline-item" id="mision">
      <h1 class="display-4 text-icem-500 dark:text-icem-300 text-3xl font-bold animado py-2">Misión</h1>
      <h1 class="text animado text-lg dark:text-slate-400 text-slate-600">Declara que es una “organización líder del país en
        fabricación y comercialización de
        equipos médicos,
        instrumentos ortopédicos y ayudas técnicas, mobiliario clínico, gastronómicos y de oficina, estanterías,
        soluciones constructivas diversas, perfiles
        conformados en frío y servicios a sus clientes nacionales, distintiva por su calidad, versatilidad, rapidez,
        competitividad y seguridad a sus clientes.</h1>
    </div>
    <div class="timeline-item" id="vision">
      <h1 class="display-4 text-icem-500 dark:text-icem-300 text-3xl font-bold animado  py-2">Visión </h1>
      <h1 class="text animado text-lg dark:text-slate-400 text-slate-600"> Modernizará la tecnología y la ingeniería de
        fabricación de la gama de equipos,
        instrumentos y medios,
        muebles,
        estanterías, productos metálicos y perfiles para satisfacer con competitividad las exigencias del mercado
        interno y la exportación.</h1>
    </div>
    <div class="timeline-item" id="objetivo">
      <h1 class="display-4 text-icem-500 dark:text-icem-300 text-3xl font-bold animado py-2">Objetivo</h1>
      <h1 class="text animado text-lg dark:text-slate-400 text-slate-600">Producir y comercializar equipos, instrumentos y
        mobiliarios, tanto médicos como de
        oficina; piezas y
        accesorios
        de laboratorio, así como componentes para la ortopedia técnica.</h1>
    </div>
    <div class="timeline-item" id="actividades">
      <h1 class="display-4 text-icem-500 dark:text-icem-300 text-3xl font-bold animado py-2">Actividades
        secundarias y de apoyo aprobadas por Resolución 280 del año 2017</h1>
      <ul class="list-none text-lg dark:text-slate-400 text-slate-600">
        <li>Servicio de levantamiento de las necesidades, medición, fabricación, montaje, reparación y mantenimiento
          de
          todas nuestras producciones.</li>
        <li>Servicio de diseño y proyectos en 3D, de toldos, cortinas y mobiliario.</li>
        <li>Servicio de arrendamiento de toldos y kioscos.</li>
        <li>Servicio de trabajos especializados en actividades relacionadas con la tornería, fresado, erosión
          rectificación y tratamiento térmico de metales.</li>
        <li>Servicio de trabajos especializados en temas eléctricos y mecánicos.</li>
        <li>Servicio de reparación y montaje de mobiliario.</li>
        <li>Prestar servicio de elaboración de planos de muebles y espacios.</li>
        <li>Prestar servicio de conformación, ponche, dobles y acabado superficial.</li>
        <li>Prestar servicio de post-venta a las producciones.</li>

        <li>Montaje y reparación de techos y paredes de panelería ligera.</li>
        <li>Comercializar perfiles, canales, montantes y luminarias.</li>
        <li>Producir y comercializar mobiliario gastronómico.</li>
        <li>Realización del diseño, fabricación y montaje de señaléticas y vinilos.</li>
        <li>Prestar servicio de parqueo.</li>
        <li>Prestar servicio de arrendamiento del teatro y los almacenes.</li>
        <li>Prestar servicios de asesoría especializada para el funcionamiento y puesta en marcha de sus producciones.
        </li>
        <li>Prestar servicios gastronómicos a los trabajadores.</li>
        <li>Producir y comercializar artículos con sobrantes y desechos de materias primas.</li>
      </ul>
    </div>
    <div class="timeline-item" id="miembros">
      <h1 class="display-4 text-icem-500 dark:text-icem-300 text-3xl font-bold animado py-2">Miembros</h1>
      <h1 class="text animado text-lg dark:text-slate-400 text-slate-600">Conoce a los integrantes de nuestro equipo</h1>
    </div>
    <div class="timeline-item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-4" *ngFor="let item of integrantes">
            <app-quienes-somos-item [quienes]="item"></app-quienes-somos-item>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-item" style="width: 50%;">
      <h1 class="display-4 text-icem-500 dark:text-icem-300 text-3xl font-bold animado">En caso de dudas</h1>
      <h1 class="text animado text-lg dark:text-slate-400 text-slate-600">No dudes en contactarnos</h1>
    </div>
  </div>
  <div class="row p-2 d-flex justify-content-center align-items-center text-center">
    <h1 class="h1 text-firstcolor" style="transform: translateX(28px);">
      <i class="bi bi-chevron-double-down"></i>
    </h1>
  </div>
</div>

<app-section-contactenos></app-section-contactenos>


<!-- <section class="min-height-section">
    <app-contactenos></app-contactenos>
  </section> -->