<footer class="text-white w-full p-2 bg-icem-600">
    <div class="flex w-full justify-center px-48 py-16 gap-20">
        <!-- <div class="flex-1">
            <img src="assets/logos/icon-icem-gray.png" alt="">
        </div> -->

        <!-- INFORMACION -->
        <div class="flex-none w-96 flex flex-col gap-1">
            <span>ICEM</span>
            Empresa Cubana especializada en la fabricación y comercialización de equipos médicos, instrumentos
            ortopédicos y ayudas técnicas, mobiliario clínico, gastronómicos y de oficina, estanterías, soluciones
            constructivas diversas, perfiles conformados en frío y servicios a sus clientes nacionales.
        </div>

        <!-- CONTACTO -->
        <div class="flex flex-col flex-1 gap-1">
            <span>INFORMACIÓN</span>
            <div class="flex gap-2">
                <i class="bi bi-pin-map"></i> Avenida 114 S/N e/85 y Autopista Este Oeste, Marianao-La Habana, Cuba
            </div>
            <div class="flex gap-2">
                <i class="bi bi-telephone"></i> (+53)7 260-04 21 al 29
            </div>
            <div class="flex gap-2">
                <i class="bi bi-envelope"></i> comercial@icem.cu
            </div>
        </div>

        <!-- ENLACES -->
        <div class="flex flex-col flex-1">
            <span>ENLACES</span>
            <ul class="list-none">
                <li>
                    <a href="http://plataforma-educativa.gesta.cu/" target="_blank" class="enlace">GESTA</a>
                </li>
                <li>
                    <a href="https://www.gelect.cu/" target="_blank" class="enlace">GELECT</a>
                </li>
                <li>
                    <a href="http://www.disaic.cu/" target="_blank" class="enlace">DISAIC</a>
                </li>
                <li>
                    <a href="https://www.mindus.gob.cu/es" target="_blank" class="enlace">MINDUS</a>
                </li>
            </ul>
        </div>
    </div>
</footer>