<div class="flex flex-col mt-20 lg:px-32 md:px-12  mb-20 w-full">
  <mat-tab-group
    [(selectedIndex)]="seleccionado"
    (selectedIndexChange)="seleccionaTab($event)"
  >
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <i [class]="tab.icono"></i>
        {{ tab.nombre }}
      </ng-template>
      
    </mat-tab>
  </mat-tab-group>

  <app-detalle-generico>
    <div class="contenido p-4">
      <router-outlet></router-outlet>
    </div>
  </app-detalle-generico>
</div>
