<form
  action=""
  [formGroup]="form"
  class="flex gap-2 flex-wrap text-sm"
  style="min-width: 250px"
>
  <ng-content select=".header"> </ng-content>
  <div class="flex gap-2 flex-wrap w-full" *ngIf="formulario.imagen">
    <input
      style="display: none"
      name="imagen"
      type="file"
      id="formFile"
      #formFile
      accept="image/*"
      (change)="fileEvent($event)"
      [multiple]="formulario.imagen!.maximoImagenes! > 1"
    />
    <div
      class="w-full h-40 relative"
      *ngIf="formulario.imagen!.maximoImagenes === 1"
    >
      <img
        class="object-cover w-full h-40 rounded-lg"
        [src]="formulario.imagen!.imagenes![0]"
        [alt]="formulario.imagen!.imagenes![0]"
      />
      <div
        class="absolute w-full h-full opacity-0 hover:bg-hover-100 hover:opacity-100 duration-300 top-0 left-0 cursor-pointer flex justify-center items-center"
      >
        <i
          matRipple
          class="bi bi-camera text-white absolute text-4xl cursor-pointer rounded-full p-2"
          (click)="formFile.click()"
        ></i>
      </div>
    </div>
    <ng-container *ngIf="formulario.imagen!.maximoImagenes! > 1">
      <div
        *ngFor="let item of formulario.imagen!.imagenes"
        class="w-16 h-16 flex justify-center items-center relative"
      >
        <app-boton-generico
          [botones]="botonEliminar"
          class="absolute -top-1 -right-1"
          [valor]="item"
        ></app-boton-generico>
        <img class="object-fit rounded-lg" [src]="item" [alt]="item" />
      </div>
      <div
        class="w-16 h-16 flex justify-center items-center dark:bg-gray-700 bg-gray-100 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-600 duration-300 cursor-pointer"
        (click)="formFile.click()"
      >
        <i class="bi bi-plus"></i>
      </div>
    </ng-container>
  </div>
  <small class="text-red-500">{{ error_cantidad_img }}</small>
  <div
    class="flex w-full md:flex-row flex-column gap-1"
    *ngFor="let fila of column"
  >
    <ng-container *ngFor="let item of fila">
      <div
        class="relative"
        [class]="formulario.autofixed ? 'flex-1' : 'flex-none'"
        [style.width]="obtenerTamanno(item)"
        *ngIf="visibilidad(item.control, item.visible)"
      >
        <label
          *ngIf="
            !['checkbox', 'boton'].includes(item.tipo) && !formulario.skeleton
          "
          for=""
          class="block mb-1"
          [ngClass]="{
            'text-red-500': error(form, item.control).length > 0
          }"
        >
          <i [class]="item.icono"></i>
          {{ esRequerido(item.control, item.nombre) }}</label
        >

        <input
          type="text"
          *ngIf="item.tipo === 'text'"
          [class]="
            error(form, item.control).length > 0
              ? 'border border-red-500'
              : 'border border-1 dark:border-gray-500'
          "
          class="py-3 px-3 w-full dark:shadow-sm rounded outline-none bg-white dark:bg-gray-700"
          [formControlName]="item.control"
          [placeholder]="item.placeholder ?? item.nombre"
        />
        <input
          type="number"
          *ngIf="item.tipo === 'number'"
          [class]="
            error(form, item.control).length > 0
              ? 'border border-red-500'
              : 'border border-1 dark:border-gray-500'
          "
          class="py-3 px-3 w-full dark:shadow-sm rounded outline-none bg-white dark:bg-gray-700"
          [formControlName]="item.control"
          [placeholder]="item.placeholder ?? item.nombre"
        />
        <div class="relative" *ngIf="item.tipo === 'password'">
          <input
            [class]="
              error(form, item.control).length > 0
                ? 'border border-red-500'
                : 'border border-1 dark:border-gray-500'
            "
            [type]="item.tiposPassword ?? 'password'"
            class="py-3 px-3 w-full dark:shadow-sm rounded outline-none bg-white dark:bg-gray-700"
            [formControlName]="item.control"
            [placeholder]="item.placeholder ?? item.nombre"
          />
          <button
            class="absolute h-full right-2 border-none text-gray-400 dark:text-gray-400"
            (click)="
              item.tiposPassword =
                item.tiposPassword === 'text' ? 'password' : 'text'
            "
          >
            <i
              [class]="
                item.tiposPassword === 'password' || !item.tiposPassword
                  ? 'bi bi-eye'
                  : 'bi bi-eye-slash'
              "
            ></i>
          </button>
        </div>
        <div class="relative w-full" *ngIf="item.tipo === 'select'">
          <mat-select
            [formControlName]="item.control"
            [class]="
              error(form, item.control).length > 0
                ? 'border border-red-500'
                : 'border border-1 dark:border-gray-500'
            "
            class="block w-full px-4 py-3 text-base text-gray-900 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <mat-option
              *ngFor="let opcion of item.opciones"
              [value]="opcion.codigo"
            >
              {{ opcion.nombre }}
            </mat-option>
          </mat-select>
        </div>
        <div class="relative w-full" *ngIf="item.tipo === 'date'">
          <input
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <textarea
          [class]="
            error(form, item.control).length > 0
              ? 'border border-red-500'
              : 'border border-1 dark:border-gray-500'
          "
          *ngIf="item.tipo === 'textarea'"
          class="py-3 px-3 w-full rounded outline-none dark:shadow-md dark:bg-gray-700 overflow-y-auto"
          [name]="item.control"
          [formControlName]="item.control"
          [placeholder]="item.placeholder ?? item.nombre"
          rows="3"
          [style.resize]="'none'"
        ></textarea>
        <app-boton-generico
          *ngIf="item.tipo === 'boton'"
          [botones]="item.botones"
        ></app-boton-generico>
        <span
          *ngIf="error(form, item.control).length > 0"
          class="text-red-500 text-xs font-thin"
        >
          {{ error(form, item.control) }}
        </span>
      </div>
    </ng-container>
  </div>
</form>
