/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap-icons/font/bootstrap-icons.css";

.svg-shadow {
  filter: drop-shadow(3px 3px 2px hsla(0, 0%, 0%, 0.7));
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//scroll
*::-webkit-scrollbar-button:vertical,
*::-webkit-scrollbar-button {
  display: none !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #9c9c9caa !important;
  border-radius: 30px !important;
  border: solid 2px #f1f2f3 !important;
}

*::-webkit-scrollbar-track {
  border-radius: 10px !important;
}
