/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap-icons/font/bootstrap-icons.css";

.svg-shadow {
  filter: drop-shadow(3px 3px 2px hsla(0, 0%, 0%, 0.7));
}
// /* width */
// ::-webkit-scrollbar {
//     position: absolute;
//     width: 5px;
//     right: 0;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: transparent;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #3b408c;
//     border-radius: 50px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #4d54b4;
// }
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



// :host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
//   background-color: var(--tahiti);
//   height: 60px;
// }

