@use "@angular/material" as mat;

@include mat.core();

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 500),
      accent: mat.define-palette(mat.$light-green-palette, A400),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 500),
      accent: mat.define-palette(mat.$pink-palette, 300),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($light-theme);

.light-theme {
  @include mat.all-component-themes($light-theme);
  $primary: #3b408c;

  .mat-mdc-progress-spinner.button {
    --mdc-circular-progress-active-indicator-color: #ffffff;
  }
  .mat-mdc-table {
    background-color: transparent;
  }
  .mat-mdc-paginator {
    background-color: transparent;
  }


  mat-tab-group {
    z-index: 0;
  }
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  $primary: #3b408c;

  .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #ffffff;
  }
  .mat-mdc-table {
    background-color: transparent;
  }
  .mat-mdc-paginator {
    background-color: transparent;
  }

  mat-tab-group {
    z-index: 0;
  }

  .mat-drawer {
    background-color: #1e293b;
  }

  .mat-drawer-backdrop.mat-drawer-shown{
    background-color: rgba($color:#000000, $alpha: 0.6);
  }
}
