<section>
  <div class="flex justify-around bg-slate-200 dark:bg-slate-800 h-96 items-center">
    <div class="flex flex-col max-w-lg gap-4">
      <h1 class="text-6xl font-bold text-icem-500">Desarrollos</h1>
      <h3 class="text-2xl text-gray-700 dark:text-gray-300">
        Estamos desarrollando nuevos productos que aún no están a la venta pero
        pueden ser de su interés, pásate y échales un ojo.
      </h3>
      <app-boton-generico [botones]="botones"></app-boton-generico>
    </div>
    <img src="assets/logos/icon-icem-blue.png" alt="" class="lg:flex md:flex hidden w-56">
  </div>
</section>
