<section>
    <div class="flex flex-col xl:flex-row lg:flex-row md:flex-row xl:px-48 lg:px-44 md:px-24 px-4 gap-8 mb-16 mt-20">
        <div class="flex-none w-8/12">
            <h1 class="text-4xl font-bold text-icem-500 dark:text-icem-300">Noticias de nuestra empresa</h1>

            <!-- Noticias ICEM -->
            <div class="w-full flex flex-col justify-center items-center"
                *ngIf="noticias_no_icem.length==0">
                <img class="w-80 svg-shadow" *ngIf="noticias_no_icem.length==0" src="assets/clip-actions/empty.png"
                     alt="">
                <h3 class="text-section text-center" *ngIf="noticias_no_icem.length==0">No hay ninguna noticia de icem aun</h3>
            </div>

            <div class="flex flex-col py-6" *ngFor="let item of noticias_icem">
                <img [src]="item.imagen" alt="" class="object-cover w-full h-96">
                <h4 class="font-bold text-icem-500 dark:text-icem-300 mt-2">{{ item.titulo }}</h4>
                <p class="text-section w-100">{{item.fecha | date: 'short'}}</p>
                <p class="scroll-mine text w-100">{{
                    item.descripcion }}</p>
            </div>

        </div>
        <div class="flex-1">
            <h1 class="text-4xl font-bold text-icem-500 dark:text-icem-300">Otras noticias de su interés</h1>
            <div class="search-box py-4 w-full relative">
                <input type="text" placeholder="Buscar noticia por título o fuente..." name="noticia"
                    [(ngModel)]="noticia_filtro" (ngModelChange)="filtrarNoticias()"
                    class="w-full bg-transparent outline-none p-1 border border-t-0  border-r-0  border-l-0 border-icem-500 dark:border-icem-300 focus:border-icem-100">
                <i class="bi bi-search absolute top-1 bottom-1 right-1 text-icem-500 p-3 flex items-center"></i>
            </div>

            <div class="w-full flex flex-col justify-center items-center"
            *ngIf="noticias_no_icem.length==0">
            <img class="w-40 svg-shadow" *ngIf="noticias_no_icem.length==0" src="assets/clip-actions/empty.png"
                 alt="">
            <h3 class="text-section text-center" *ngIf="noticias_no_icem.length==0">No hay ninguna noticia aun</h3>
        </div>
            <app-card [card]="noticiaCard"></app-card>

        </div>
    </div>
</section>